
nltk_data/
saved_models/
# تجاهل المجلدات الكبيرة
vectorize/saved_models/
indexing/saved_models/

# أو بشكل أكثر دقة
*.joblib
*.npz


__pycache__/
*.pyc
.env
# Ignore all contents inside saved_models folders
vectorize/saved_models/**/*
indexing/saved_models/**/*

*.joblib
*.npz